<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/5c174d451e.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyDINJSerrPis0Z8fayKEyicyfmdxVcopiE"></script>

    <title style="color: purple;">codify </title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }



    .vehicles {
        height: 40vh;
    }

    .mydiv button {
        width: 20vw;
        height: 10%;
        font-size: 1.5vw;
        background-color: white;
        color: black;
        margin-left: 3vw;
    }

    .divmenu {
        width: 20vw;


    }

    .showcase2 {
        margin: auto;
    }

    .showcase2 input {
        outline: none;
        border: rgba(0, 0, 0, 0.3);
    }

    .showcase {
        background: linear-gradient(to right, #ff00cc, #333399);
        height: 50vh;

    }

    .vehicle-fea {
        height: 70vh;
        text-align: center;
    }

    .icons {
        font-size: 15vw;
        text-align: center;
    }

    .parent-div {
        background-color: rgb(217, 217, 217);

    }


    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .card img {
        height: 300px;
    }

    .why-section {
        background-color: rgb(217, 217, 217);
    }

    .why-section img {
        width: 7vw;
        height: 7vw;
        border-radius: 0.5vw;

    }

    .why-section .whysection {
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .myfooter {
        background-color: black;
    }

    .showcase5 {
        background-color: rgb(217, 217, 217);
        height: 170vh;

    }
</style>

<body>
    <%- include('partials/customernavbar')%>

        <div class="container-fluid  showcase">
            <div class="row text-center py-5 text-white">
                <h1>Get early access, now</h1>
                <h1>Be first for our free learning course, and <strong> get courses from ₹360 </strong></h1>
            </div>
            <div class="container text-center text-white">
                <h3>Move up in your career with specialisations from top universities.</h3>

            </div>

        </div>
        </div>
        <div class="container text-center  py-5">
            <h1>The world's largest selection of courses</h1>
            <p>Choose from 130,000 online video courses with new additions published every month</p>
        </div>

        <div class="container-fuid showcase5">


            <div class="container">
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="card mt-3">
                            <img src="/images/py2.jfif" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">2021 Complete Python Bootcamp From Zero to Hero in Python</h5>
                                <p class="card-text">Learn Python like a Professional Start from the basics and go all
                                    the way to creating your own applications and games</p>
                                <p class="d-none">1111</p>
                                <a href="#" onclick="addtocart(this)" class="btn btn-primary" data-price="400">Add to
                                    cart</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card mt-3">
                            <img src="/images/py3.jfif" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Machine Learning A-Z Hands-On Python and R In Data Science</h5>
                                <p class="card-text">Learn to create Machine Learning Algorithms in Python and R from
                                    two Data Science experts. Code templates included.
                                    Bestseller</p>
                                <p class="d-none">2222</p>

                                <a href="#" onclick="addtocart(this)" class="btn btn-primary" data-price="450">Add to
                                    cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mt-3">
                            <img src="/images/py4.jfif" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Python for Data Science and Machine Learning Bootcamp</h5>
                                <p class="card-text">Learn how to use NumPy, Pandas, Seaborn , Matplotlib , Plotly ,
                                    Scikit-Learn , Machine Learning, Tensorflow , and more!</p>
                                <p class="d-none">3333</p>
                                <a href="#" onclick="addtocart(this)" class="btn btn-primary" data-price="450">Add to
                                    Cart</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card mt-3">
                            <img src="/images/py3.jfif" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">The Python Mega Course: Build 10 Real World Applications</h5>
                                <p class="card-text">A complete practical Python course for both beginners &
                                    intermediates! Master Python 3 by making 10 amazing Python apps.</p>
                                <p class="d-none">4444</p>
                                <a href="#" onclick="addtocart(this)" class="btn btn-primary" data-price="500">Add to
                                    Cart</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card mt-3">
                            <img src="/images/py4.jfif" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Master the Coding Interview: Data Structures and Algorithms</h5>
                                <p class="card-text">Ultimate coding interview bootcamp. Get more job offers, negotiate
                                    a raise: Everything you need to get the job you want!
                                </p>
                                <p class="d-none">5555</p>
                                <a href="#" onclick="addtocart(this)" class="btn btn-primary" data-price="600">Add to
                                    cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mt-3">
                            <img src="/images/py4.jfif" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">The Complete 2020 Web Development Bootcamp</h5>
                                <p class="card-text">Become a full-stack web developer with just one course. HTML, CSS,
                                    Javascript, Node, React, MongoDB and more!</p>
                                <p class="d-none">6666</p>
                                <a href="#" onclick="addtocart(this)" class="btn btn-primary" data-price="600">Add to
                                    cart</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>






        <div class="container text-center  py-5 ">
            <h4>The world's largest selection of courses</h4>
            <p>JavaScript relates to DevelopmentIT & SoftwareWeb DevelopmentProgramming Languages

            </p>
            </p>
        </div>



        <div class="container-fluid why-section ">
            <div class="container">

                <div class="row  ">
                    <div class="col-md-5 d-flex whysection m-3">
                        <div class="m-3">


                            <img src="/images/py2.jfif" class="img-rounded" alt="myimage">
                        </div>

                        <div class="m-3">
                            <h4>Javascript Tutorial and Projects Course</h4>
                            <p>From Sedans and SUVs to Luxury cars for special occasions, we have cabs to suit every
                                pocket

                            </p>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex whysection m-3">
                        <div class="m-3">


                            <img src="/images/py3.jfif" class="img-rounded" alt="myimage">
                        </div>

                        <div class="m-3">
                            <h4>Javascript Tutorial and Projects Course</h4>
                            <p>From Sedans and SUVs to Luxury cars for special occasions, we have cabs to suit every
                                pocket

                            </p>
                        </div>
                    </div>

                </div>




                <div class="row  ">
                    <div class="col-md-5 d-flex whysection m-3">
                        <div class="m-3">


                            <img src="/images/py4.jfif" class="img-rounded" alt="myimage">
                        </div>

                        <div class="m-3">
                            <h4>The Complete Digital Marketing Course - 12 Courses in 1</h4>
                            <p>From Sedans and SUVs to Luxury cars for special occasions, we have cabs to suit every
                                pocket

                            </p>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex whysection m-3">
                        <div class="m-3">


                            <img src="/images/py2.jfif" class="img-rounded" alt="myimage">
                        </div>

                        <div class="m-3">
                            <h4>The Complete Digital Marketing Course - 12 Courses in 1</h4>
                            <p>From Sedans and SUVs to Luxury cars for special occasions, we have cabs to suit every
                                pocket

                            </p>
                        </div>
                    </div>

                </div>




                <div class="row  ">
                    <div class="col-md-5 d-flex whysection m-3">
                        <div class="m-3">


                            <img src="/images/py3.jfif" class="img-rounded" alt="myimage">
                        </div>

                        <div class="m-3">
                            <h4>The Complete Digital Marketing Course - 12 Courses in 1</h4>
                            <p>From Sedans and SUVs to Luxury cars for special occasions, we have cabs to suit every
                                pocket

                            </p>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex whysection m-3">
                        <div class="m-3">


                            <img src="/images/py4.jfif" class="img-rounded" alt="myimage">
                        </div>

                        <div class="m-3">
                            <h4>The Complete Digital Marketing Course - 12 Courses in 1</h4>
                            <p>From Sedans and SUVs to Luxury cars for special occasions, we have cabs to suit every
                                pocket

                            </p>
                        </div>
                    </div>

                </div>










            </div>
        </div>











        <!-- Footer -->
        <footer class="bg-dark text-center text-lg-start text-white myfooter">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase">CODIFY</h5>

                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                            voluptatem veniam, est atque cumque eum delectus sint!
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Discover CODIFY</h5>

                        <ul class="list-unstyled mb-0 text-white">
                            <li>
                                <a href="#!" class="text-white text-decoration-none">About the codify</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white text-decoration-none">offers</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white text-decoration-none">Contact us</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white text-decoration-none">Media query</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0">Top cities</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#" class="text-white text-decoration-none">Mumbai</a>
                            </li>
                            <li>
                                <a href="#" class="text-white text-decoration-none">Pune</a>
                            </li>
                            <li>
                                <a href="#" class="text-white text-decoration-none">Nashik</a>
                            </li>
                            <li>
                                <a href="#" class="text-white  text-decoration-none">BID</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>

            </div>



            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2020 Copyright:
                <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>

        </footer>
        <!-- Footer -->


        <!-- 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script> -->

        <!-- Option 2: Separate Popper and Bootstrap JS -->

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
            integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script>


            function addtocart(card_btn) {
                let user = document.querySelector("#myuser").innerHTML;


                let realuser = user.trim();
                console.log("=====" + realuser + "====");
                if (realuser == "welcome") {
                    window.location.href = "http://localhost:5000/codify/auth/login";
                    alert("please login first")


                }
                else {
                    card_btn.innerHTML = "course is added in cart";





                    let id = card_btn.parentElement.children[2].innerText;
                    let price = card_btn.dataset.price


                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            console.log("running");
                        }
                    };
                    xhttp.open("GET", "/codify/addtocart?id=" + id + "&price=" + price);
                    xhttp.send();
                }
            }
        </script>
</body>

</html>